<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "/xsd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdsx.framework.author.mapper.orcl.DeptMapper">

  <sql id="columns" >
    id, deptName, address, leader, tel, distCode, postcode, fax, pid
  </sql>
  <sql id="paramColumns" >
    id, deptName, address, leader, tel, distCode, postcode, fax, pid
  </sql>
  
   <select id="findByIds" resultType="mt" parameterType="String">
	   	SELECT * FROM GIS_MT  WHERE ID IN 
	   	<foreach item="gkid" index="index" collection="array"  open="(" separator="," close=")">
	  	 #{gkid}
	  	</foreach>
   </select>
	<!-- 根据dwID查询子单位 -->
  <sql id="deptids">
	SELECT ID FROM GISMETA.DEPARTMENT WHERE PID=#{dwmc} UNION ALL SELECT ID FROM
	GISMETA.DEPARTMENT WHERE ID=#{dwmc}
  </sql>

 <!-- 根据条件查询总数 -->
	<select id="count" parameterType="hashMap" resultType="int">
		SELECT COUNT(id) FROM GIS_MT
		<where>
			<if test="xzqhbm != null and xzqhbm != ''">XZQHBM LIKE #{xzqhbm} || '%'</if>
			<if test="mtmc != null and mtmc != ''">AND MTMC LIKE '%' || #{mtmc} || '%'</if>
			<if test="sbzt != null and sbzt != ''">AND SBZT = #{sbzt}</if>
			<if test="shzt != null and shzt != ''">AND SHZT = #{shzt}</if>
			<if test="cjzt != null and cjzt != ''">AND CJZT = #{cjzt}</if>
			<if test="exist != null and exist != ''">AND EXIST = #{exist}</if>
			<if test="dwmc != null and dwmc != ''">AND DWMC IN (<include refid="deptids"/>)</if>
		</where>
	</select >
 
  <!-- 分页查询 -->
 	<select id="selectList"  parameterType="hashMap" resultType="mt">
		SELECT * FROM 
			( 
				SELECT C.*,row_number() over(order by C.DRSJ DESC) as rn FROM 
				(
					SELECT A.NAME as DWMC,B.* FROM GISMETA.DEPARTMENT A ,(SELECT <include refid="all"/> FROM GIS_MT
					<where>
					    <if test="xzqhbm != null and xzqhbm != ''">XZQHBM LIKE #{xzqhbm}||'%'</if>
					<!--  	<if test="lxbm != null and lxbm != ''">AND LXBM LIKE '%'|| #{lxbm}|| '%'</if> -->
						<if test="mtmc != null and mtmc != ''">AND MTMC LIKE '%' || #{mtmc} || '%'</if>			
						<if test="sbzt != null and sbzt != ''">AND SBZT = #{sbzt}</if>
						<if test="shzt != null and shzt != ''">AND SHZT = #{shzt}</if>
						<if test="cjzt != null and cjzt != ''">AND CJZT = #{cjzt}</if>		
						<if test="exist != null and exist != ''">AND EXIST = #{exist}</if>
						<if test="dwmc != null and dwmc != ''">AND DWMC IN (<include refid="deptids"/>)</if>
					</where>) B WHERE A.ID(+)=B.DWID
				) C
				)WHERE rn &gt; #{begin} AND rn &lt;= #{end}					
	</select>
	
	 <select id="exportExcel"  parameterType="hashMap" resultType="mt">
				SELECT C.*,row_number() over(order by C.DRSJ DESC) as rn FROM 
				(
					SELECT A.NAME as DWMC,B.* FROM GISMETA.DEPARTMENT A ,(SELECT <include refid="all"/> FROM GIS_MT
					
					<where>
					    <if test="xzqhbm != null and xzqhbm != ''">XZQHBM LIKE #{xzqhbm}||'%'</if>
					<!--  	<if test="lxbm != null and lxbm != ''">AND LXBM LIKE '%'|| #{lxbm}|| '%'</if> -->
						<if test="mtmc != null and mtmc != ''">AND MTMC LIKE '%' || #{mtmc} || '%'</if>
						<if test="sbzt != null and sbzt != ''">AND SBZT = #{sbzt}</if>
						<if test="shzt != null and shzt != ''">AND SHZT = #{shzt}</if>
						<if test="cjzt != null and cjzt != ''">AND CJZT = #{cjzt}</if>		
						<if test="exist != null and exist != ''">AND EXIST = #{exist}</if>
						<if test="dwmc != null and dwmc != ''">AND DWMC IN (<include refid="deptids"/>)</if>
					</where>) B WHERE A.ID(+)=B.DWID
				) C
	</select>
	
	<!-- 根据id查询 -->
	<select id="selectById" parameterType="string" resultType="mt">
		SELECT * FROM GIS_MT  WHERE ID=#{id}
	</select>
	
	 <!-- 删除一条数据-->
	 <delete id="deleteOne" parameterType="string" >
	   DELETE FROM GIS_MT WHERE ID = #{ID} AND OPERATIONTYPE='1'
	 </delete>
  
 	 <!-- 批量删除 -->
    <delete id="deleteCTQ" parameterType="java.lang.String">
		DELETE FROM GIS_MT WHERE ID in
		<foreach item="idItem" collection="array" open="(" separator="," close=")">
			#{idItem}
		</foreach>
		AND OPERATIONTYPE='1'
	</delete>
	<select id="countTotal" resultType="int">
		SELECT COUNT(*) FROM GIS_MT
	</select>

  <!-- 批量上报 -->
  <update id="sb" parameterType="java.util.List">  
	  UPDATE GIS_MT SET SBZT =  CASE WHEN(SBZT != '1') THEN '1'  END  WHERE ID IN  
	  <foreach collection="list" item="item" index="index" open="(" separator="," close=")" >  
	        #{item}  
	  </foreach>  AND EXIST ='1'
  </update>  
  <update id="auditNo"  parameterType="java.lang.String">
		UPDATE Gis_Mt SET SBZT='0' WHERE ID IN 
		<foreach item="idItem" collection="array" open="(" separator="," close=")">
			#{idItem}
		</foreach>
	</update>
	<delete id="deletes" parameterType="java.lang.String">
		DELETE FROM Gis_Mt WHERE ID in
		<foreach item="idItem" collection="array" open="(" separator="," close=")">
			#{idItem}
		</foreach>
		AND OPERATIONTYPE='3'
	</delete>
	<update id="updates"  parameterType="java.lang.String">
		UPDATE Gis_Mt SET SHZT='1' WHERE ID IN 
		<foreach item="idItem" collection="array" open="(" separator="," close=")">
			#{idItem}
		</foreach> 
		AND (OPERATIONTYPE='2' OR OPERATIONTYPE='1')
	</update>
	 <select id="countTotalBysh" resultType="int" parameterType="string">
  	SELECT COUNT(ID) FROM Gis_Mt WHERE SBZT = '1' AND DWMC=#{name,jdbcType=VARCHAR}
  </select>
  
    <!-- 发送采集计划 -->
  <update id="send" parameterType="string">
  	UPDATE Gis_Mt SET CJZT = '1' where id in 
  	<foreach item="item" collection="array" open="(" separator="," close=")">
			#{item, jdbcType=VARCHAR}
	</foreach>
  </update>
  <!-- 取消采集计划 -->
  <update id="cancel">
  	UPDATE Gis_Mt SET CJZT = '0' where id in 
  	<foreach item="item" collection="list" open="(" separator="," close=")">
			#{item, jdbcType=VARCHAR}
	</foreach>
  </update>
  
   <update id="update" parameterType="mt">
  	UPDATE Gis_Mt SET  OPERATIONTYPE=#{operationtype} ,SBZT=#{sbzt},SHZT=#{shzt} WHERE ID=#{id}
  </update>
    
	<update id="edit" parameterType="string">
		UPDATE Gis_Mt SET OPERATIONTYPE='3' ,SBZT='0',SHZT='0' WHERE ID IN
		<foreach item="idItem" collection="array" open="(" separator=","
			close=")">
			#{idItem}
		</foreach>
	</update>
	
		<!-- 导出文件 -->
	<select id="selectList4Excel" parameterType="hashMap" resultType="mt">
			SELECT C.*,row_number() over(order by C.LXBM,C.ZH  DESC) as rn FROM 
			(
				SELECT A.NAME as DWMC,B.* FROM GISMETA.DEPARTMENT A ,(SELECT <include refid="all"/> FROM Gis_Mt
				<where>
					<if test="xzqhbm != null and xzqhbm != ''">XZQHBM LIKE #{xzqhbm}||'%'</if>
				<!-- 	<if test="lxbm != null and lxbm != ''">AND LXBM LIKE '%' || #{lxbm} || '%'</if>  -->
					<if test="mtmc != null and mtmc != ''">AND MTMC LIKE '%' || #{mtmc} || '%'</if>
					<if test="sbzt != null and sbzt != ''">AND SBZT = #{sbzt}</if>
					<if test="shzt != null and shzt != ''">AND SHZT = #{shzt}</if>
					<if test="exist != null and exist != ''">AND EXIST = #{exist}</if>
					<if test="cjzt != null and cjzt != ''">AND CJZT = #{cjzt}</if>
					<if test="dwmc != null and dwmc != ''">AND DWMC IN (<include refid="deptids"/>)</if>
				</where>) B WHERE A.ID(+)=B.DWID
			) C	
	</select>
	<!-- 根据编码查询 -->
	<select id="selectByBm" parameterType="string" resultType="int">
		select count(id) from Gis_Mt where mtdm=#{bm,jdbcType=VARCHAR}
	</select>
		   <!-- 根据编码删除 -->
  <delete id="deleteByBm">
		DELETE FROM GIS_MT WHERE MTDM in
		<foreach item="idItem" collection="array" open="(" separator="," close=")">
			#{idItem} 
		</foreach>
	</delete>
	<!-- 查询全部编码 -->
	<select id="selectBms" resultType="string">
		SELECT distinct MTDM FROM GIS_MT where MTDM is not null
	</select>
	 <!-- 审核 -->
  <update id="check" parameterType="map">  
	  update gis_zcz 
	  <set>
	  	<if test="sbzt != null and sbzt !=''">sbzt = #{sbzt, jdbcType=VARCHAR},</if>
	 	<if test="shzt != null and shzt !=''">shzt = #{shzt, jdbcType=VARCHAR},</if>
	 	<if test="operationtype != null and operationtype !=''">operationtype = #{operationtype, jdbcType=VARCHAR},</if>
	  </set> 
	   <if test="ids!=null and ids.size!=0">
		  where id in  
		  <foreach collection="ids" item="item" index="index" open="(" separator="," close=")" >  
		        #{item, jdbcType=VARCHAR}  
		  </foreach>
	  </if>
	  <if test="ids==null or ids.size==0">
	  		where 1 > 2
	  </if>
  </update> 
  
  <update id="updateOne" parameterType="mt"> 
  		UPDATE GIS_MT SET  OPERATIONTYPE='3' ,SBZT='0',SHZT='0' WHERE ID=#{id}
  </update>
  
	
</mapper>
