<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "/xsd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdsx.framework.module.demo.mapper.EmpMapper">
	<select id="selectList" resultType="Emp">
		SELECT * FROM EMP
	</select>
	<insert id="insert" parameterType="Emp">
		INSERT INTO HDEMP(EMPNO,ENAME,JOB,MGR,HIREDATE,SAL,COMM,DEPTNO)
				VALUES(SYS_GUID(),#{ename},#{job},#{mgr},#{hiredate},#{sal},#{comm},#{deptno})
	</insert>
</mapper>